# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# JSON database (optional)
inventory.json
